@import 'src/styles/variables';

body {
  min-width: 1050px;
  user-select: none;
}

.todo_list {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-column-gap: 25px;
  grid-template-rows: 500px;
}
